*{
    margin: 0;
}
header, footer{
    width: 100vw;
    height: 20vh;
    background-color: #D9D9D9;
}
main{
    width: 100vw;
    height: 60vh;
    display: flex;
}
main section{
    width: 60vw;
    height: 100%;
    background-color: #8E8E8E;
}
main aside{
    width: 40vw;
    height: 100%;
    background-color: #727459;
}